md-toolbar.toolbar-image
    .md-toolbar-tools
        md-button.md-icon-button.material-icons(ng-click='AppVM.toggleSidenav()') menu
        span(translate='APP.DASHBOARD.DASHBOARD')

md-content
    md-card(
        ng-repeat="Article in DashboardVM.articles | orderBy: ['-pinned', 'name']"
    )
        md-card-title
            md-card-title-text
                span.md-headline(ng-bind='Article.name', ui-sref='app.articles_detail({ articleId: Article._id })')
                span.md-subhead(ng-bind='Article.description')

        md-card-content(layout='row', layout-align='space-between')
            img.md-media-xl.card-media(
                ng-src="{{DashboardVM.Config.api}}/240x240/{{Article.image}}"
                alt='{{Article.name}}'
                ui-sref='app.articles_detail({ articleId: Article._id })'
            )
            md-card-actions(layout='column')
                md-button.md-icon-button.material-icons(
                    ng-click='DashboardVM.togglePinned(Article)'
                )
                    span(ng-show='!Article.pinned') favorite_border
                    span(ng-show='Article.pinned') favorite

   md-button.md-fab.md-fab-bottom-right.material-icons(ui-sref='app.articles_create') add
