md-toolbar
    .md-toolbar-tools
        md-button.md-icon-button.material-icons(ui-sref='app.articles') arrow_back
        span(translate='APP.ARTICLES.CREATE')

md-content
    md-card(ng-form='ArticlesCreateVM.ngForm')
        md-card-header
            md-card-header-text
                md-title(translate='APP.ARTICLES.CREATE')

        md-card-content(layout='column')
            md-input-container
                label(translate='APP.ARTICLES.NAME')
                input(
                    type='text'
                    ng-model='ArticlesCreateVM.Article.name'
                    name='name'
                    autocomplete='off'
                    required
                )

                div(ng-messages='ArticlesCreateVM.ngForm.email.$error')
                    div(ng-message='required')
                        span(translate='APP.VALIDATION.REQUIRED')

            md-input-container
                label(translate='APP.ARTICLES.DESCRIPTION')
                textarea(ng-model='ArticlesCreateVM.Article.description', required)
                div(ng-messages='ArticlesCreateVM.ngForm.password.$error')
                    div(ng-message='required')
                        span(translate='APP.VALIDATION.REQUIRED')

            img(
                ng-if='ArticlesCreateVM.Article.image'
                ng-src='data:image/jpeg;base64,{{ArticlesCreateVM.Article.image}}'
                flex='100'
            )

            md-button.md-fab.material-icons(
                ng-click='ArticlesCreateVM.getPicture()'
            ) photo_camera

            md-card-actions(layout='row', layout-align='end center')
                md-button.md-primary(
                    ng-click='ArticlesCreateVM.create(ArticlesCreateVM.Article)'
                    ng-disabled='!ArticlesCreateVM.ngForm.$valid || !ArticlesCreateVM.Article.image'
                    translate='APP.ARTICLES.SAVE'
                )
