md-content(layout='column')
    md-card(ng-form='AccountSignupVM.ngForm')
        md-card-header
            md-card-header-text
                md-title(translate='ACCOUNT.SIGNUP')

        md-card-content
            md-input-container.md-block
                label(translate='ACCOUNT.EMAIL')
                input(
                    type='email'
                    ng-model='AccountSignupVM.User.email'
                    name='email'
                    autocomplete='off'
                    required
                )

                div(ng-messages='AccountSignupVM.ngForm.email.$error')
                    div(ng-message='required')
                        span(translate="ACCOUNT.VALIDATION.REQUIRED")
                    div(ng-message='email')
                        span(translate="ACCOUNT.VALIDATION.EMAIL")

            md-input-container.md-block
                label(translate='ACCOUNT.PASSWORD')
                input(
                    type='password'
                    ng-model='AccountSignupVM.User.password'
                    name='password'
                    autocomplete='off'
                    required
                )
                div(ng-messages='AccountSignupVM.ngForm.password.$error')
                    div(ng-message='required')
                        span(translate="ACCOUNT.VALIDATION.REQUIRED")

            p(ng-show='AccountSignupVM.error', translate="ACCOUNT.VALIDATION.FAIL")

        md-card-actions(layout='row', layout-align='end center')
            md-button.md-primary(
                ng-click='AccountSignupVM.submit(AccountSignupVM.User)'
                ng-disabled='!AccountSignupVM.ngForm.$valid'
                translate="ACCOUNT.SIGNUP"
            )
